langchain
langchain_core
python-dotenv
streamlit
langchain_community
langchain_google_genai
langserve
uvicorn
sse_starlette
fastapi
langchain-groq
wikipedia
arxiv
langchainhub
sentence_transformers
langchain-objectbox
